## AlphabetSoupCharity_Optimisation: Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import sklearn as skl

#  Import and read the charity_data.csv.
import pandas as pd 
Application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
Application_df.head(10)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [4]:
# Drop the non-beneficial ID columns, 'EIN','NAME', and 'INCOME_AMT'

Application_df = Application_df.drop(columns=['EIN','NAME','SPECIAL_CONSIDERATIONS','INCOME_AMT'])
Application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,142590,1

In [6]:
# Determine the number of unique values in each column.

unique_counts = Application_df.nunique()
print(unique_counts)

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
STATUS                 2
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
Application_type_counts =  Application_df['APPLICATION_TYPE'].value_counts()
print(Application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [8]:
# Choose a cutoff value. cutoff incresed from 500 to 1000
cutoff_value = 1000

# Create a list of application types to be replaced
Application_types_to_replace = Application_type_counts[Application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in Application_types_to_replace:
    Application_df['APPLICATION_TYPE'] = Application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
Application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning

classification_counts =  Application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
print(classification_counts[classification_counts > 1])

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1000
# Create a list of classification to be replaced
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    Application_df['CLASSIFICATION'] = Application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
Application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [12]:
# Determine categorcal variables in dataframe
Application_df.dtypes

APPLICATION_TYPE    object
AFFILIATION         object
CLASSIFICATION      object
USE_CASE            object
ORGANIZATION        object
STATUS               int64
ASK_AMT              int64
IS_SUCCESSFUL        int64
dtype: object

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
Application_numeric = pd.get_dummies(Application_df)


Application_numeric.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,CLASSIFICATION_Other,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,True,True,False,False,False
1,1,108590,1,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,True,False,False
2,1,5000,0,False,False,False,False,True,False,True,...,False,False,False,False,False,True,True,False,False,False
3,1,6692,1,False,False,True,False,False,False,True,...,False,False,False,False,True,False,False,False,False,True
4,1,142590,1,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True

In [15]:
# Split our preprocessed data into our features and target arrays
y= Application_numeric["IS_SUCCESSFUL"].values
X= Application_numeric.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset. random_state  reduced
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=58)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
print(X_train_scaled.shape)

(27439, 29)

## Compile, Train and Evaluate the Model

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=29))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation="relu"))

# third hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation="relu"))

# fourth hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation="relu"))

# fifth hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                      │ (None, 80)                  │           2,400 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_7 (Dense)                      │ (None, 50)                  │           4,050 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_8 (Dense)                      │ (None, 40)                  │           2,040 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_9 (Dense)                      │ (None, 40)                  │           1,640 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_10 (Dense)                     │ (None, 30)                  │           1,230 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_11 (Dense)                     │ (None, 1)                   │              31 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 11,391 (44.50 KB)

 Trainable params: 11,391 (44.50 KB)

 Non-trainable params: 0 (0.00 B)

In [22]:
# Compile the model
# nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
# Define the optimizer with a custom learning rate
custom_optimizer = tf.keras.optimizers.Adam(learning_rate=0.0001)

# Compile the model with the custom optimizer
nn.compile(loss="binary_crossentropy", optimizer=custom_optimizer, metrics=["accuracy"])

In [23]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=40,  batch_size=29)

Epoch 1/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.6810 - loss: 0.6335
Epoch 2/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7158 - loss: 0.5784
Epoch 3/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7228 - loss: 0.5676
Epoch 4/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7220 - loss: 0.5661
Epoch 5/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7247 - loss: 0.5620
Epoch 6/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7283 - loss: 0.5594
Epoch 7/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7249 - loss: 0.5612
Epoch 8/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7248 - loss: 0.5630
Epoch 9/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7274 - loss: 0.5611
Epoch 10/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7255 - loss: 0.5644
Epoch 11/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7300 - loss: 0.5579
Epoch 12/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7255 - loss: 0.5626
Epoch 13/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7284 - loss: 0.5581
Epoch 14/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7263 - loss: 0.5600
Epoch 15/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7260 - loss: 0.5625
Epoch 16/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7259 - loss: 0.5601
Epoch 17/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7275 - loss: 0.5578
Epoch 18/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7303 - loss: 0.5570
Epoch 19/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7204 - loss: 0.5642
Epoch 20/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7299 - loss: 0.5585
Epoch 21/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7296 - loss: 0.5572
Epoch 22/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7246 - loss: 0.5624
Epoch 23/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7310 - loss: 0.5546
Epoch 24/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7290 - loss: 0.5570
Epoch 25/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7303 - loss: 0.5547
Epoch 26/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7286 - loss: 0.5575
Epoch 27/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7317 - loss: 0.5540
Epoch 28/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 1s 988us/step - accuracy: 0.7250 - loss: 0.5586
Epoch 29/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7274 - loss: 0.5559
Epoch 30/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7251 - loss: 0.5613
Epoch 31/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 1s 998us/step - accuracy: 0.7267 - loss: 0.5597
Epoch 32/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 1s 979us/step - accuracy: 0.7281 - loss: 0.5550
Epoch 33/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 1s 973us/step - accuracy: 0.7246 - loss: 0.5616
Epoch 34/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7258 - loss: 0.5606
Epoch 35/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7334 - loss: 0.5547
Epoch 36/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7249 - loss: 0.5623
Epoch 37/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7274 - loss: 0.5593
Epoch 38/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 1s 976us/step - accuracy: 0.7267 - loss: 0.5574
Epoch 39/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 1s 990us/step - accuracy: 0.7279 - loss: 0.5587
Epoch 40/40
947/947 ━━━━━━━━━━━━━━━━━━━━ 1s 985us/step - accuracy: 0.7319 - loss: 0.5533

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 1ms/step - accuracy: 0.7324 - loss: 0.5570
Loss: 0.557020366191864, Accuracy: 0.7323614954948425

In [25]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.